/* media query for mobile screen  */
@media only screen and (max-width :576px) {

    /* header section media query */

    .header {
        padding: var(--mobile-primary-padding);
    }

    .nav {
        padding: 20px 0;
        flex-direction: column;
    }

    .nav .logo {
        font-size: 18px;
        line-height: 52px;
    }

    .nav>ul {
        flex-direction: column;
        margin-top: 5px;
        gap: 5px;
    }

    .header-content .header-title {
        font-size: 36px;
        line-height: 40px;
    }

    .header-content .header-description {
        margin: 20px 0;
    }

    /* quick list section media query */
    .quick-list {
        padding: var(--mobile-primary-padding);
        flex-direction: column;
        margin-top: 40px;
        gap: 20px;
    }

    .quick-list-images {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-info {
        width: 100%;
        text-align: center;
    }

    /* feature media query */
    .features-section {
        padding: var(--mobile-primary-padding);
        flex-direction: column;
        margin: 20px 0;
    }

    .feactures-left {
        width: 100%;
    }

    .feactures-right {
        width: 100%;

    }

    .feature-card {
        position: relative;
        transform: translateX(50%);
        left: 0%;
        margin: 10px 0;
        padding: 30px 20px;
        width: 50%;
    }

    .feature-card h3 {
        font-size: 22px;
        line-height: 24px;
    }

    /* facts media query */
    .facts {
        padding: var(--mobile-primary-padding);
    }

    .fact-incons {
        padding: var(--mobile-primary-padding);
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }

    .fact-numbers {
        font-size: 36px;
    }

    .fact-info {
        font-size: 20px;
    }

    /* sponsor media query */
    .sponsor-section {
        padding: var(--mobile-primary-padding);
        text-align: center;
    }

    .sponsor-logos {
        flex-direction: column;
        gap: 20px;
    }

    /* blog section media query */
    .blog-section {
        /* margin-left: 0 100px; */
        padding-left: 40px;
    }

    .blog-wrapper {
        width: 100%;
        flex-direction: column;
    }

    aside {
        flex-direction: column;
        max-width: 100%;
        flex-wrap: wrap;
    }

    aside .navigation {
        width: 60%;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        gap: 20px;
        padding-top: 20px;
    }

    /* footer media query */
    .footer {
        padding: var(--mobile-primary-padding);
        padding: 0 10px;
    }

}