/* Universal style */
*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root{
    --primary-color: #FF900E;
    --primary-color-opacity: rgba(255, 144, 14, 0.1);
    --dark-one: #131313
    --dark-two: #424242;
    --dark-three: #727272;
    --black: #000;
    --white: #fff;

    /*  */
    --primary-padding : 50px 220px 30px;

    --transition-01: all .1s ease;
    --transition-02: all .2s ease;
    --transition-03: all .3s linear;
    --transition-04: all .4s linear;
    --transition: all .5s linear;
}

.btn {
    padding: 16px 30px;
    font-weight: 700;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 5px;
    color: var(--white);
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.btn:hover {
    background-color: var(--dark-one);
    transition: var(--transition-04);
    color: var(--primary-color);
    
}

/* .btn::after {
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    background-color: var(--dark-one);
    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: -2;
    transition: var(--transition-03);

}
.btn:hover:after {
   width: 100%;
} */



/* ==============
Header section style start
=============== */
.header {
    padding: var(--primary-padding);
    background-color: var(--primary-color-transparent);
}

/* naviagtion bar style*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav .logo {
    color: var(--dark-01);
    font-size: 35px;
    /* line-height: 52px; */
}
.nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav> ul li a{
    text-decoration: none;
    color: var(--dark-02);
}

/* header content style */
.header-content {
    text-align: center;
    margin-top: 80px;
}

.header-title {
    font-size: 48px;
    line-height: 55px;
}

.header-description {
    margin: 40px 0 30px;
    padding: 0 50px;
}

.banner-img img {
    width: 100%;
    margin-top: 30px;
}
