/* ============== 
    Universal style
=============== */
* {
    margin: 0;
    padding: 0;
    ;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    /* color palate */
    --primary-color: #FF900E;
    --primary-color-light: rgba(255, 144, 14, 0.1);
    --dark-one: #131313 --dark-two: #424242;
    --dark-three: #727272;
    --black: #000;
    --white: #fff;

    /* default padding */
    --padding-primary: 50px 220px 30px;
    --padding-secondary: 50px 240px 30px;
    --padding-tertiary: 0 260px;
    --mobile-primary-padding: 0 20px;

    /* Font */
    --primary-font-size: 16px;
    /* transitions */
    --transition-01: all .1s ease;
    --transition-02: all .2s ease;
    --transition-03: all .3s ease;
    --transition-04: all .4s ease;


}

/* button default design */
.btn {
    padding: 16px 30px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--white);
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.btn:hover {
    color: var(--white);
    background-color: #131313;
    transition: var(--transition-03);
}


.text-dark {
    font-weight: 700;
    color: var(--dark-one);
}

.text-bold {
    font-weight: 700;
    color: var(--primary-color);
}


/* ==============
Header section style start
=============== */
.header {
    padding: var(--padding-primary);
    background-color: var(--primary-color-light);
}

/* naviagtion bar style*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav .logo {
    color: var(--dark-one);
    font-size: 35px;
    background-color: var(--primary-color);
    padding: 5px 20px;
    border-radius: 5px;
    /* line-height: 52px; */
}

.nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav>ul li a {
    text-decoration: none;
    color: var(--dark-two);
}

/* header content style */
.header-content {
    text-align: center;
    margin-top: 80px;
}

.header-title {
    font-size: 48px;
    line-height: 55px;
}

.header-description {
    margin: 40px 0 30px;
    padding: 0 50px;
}

.banner-img img {
    width: 100%;
    margin-top: 30px;
}


/* ==============
Header section styles end
=============== */

/* =========================
Quick list styles start
========================= */
.quick-list {
    padding: var(--padding-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick-list-images {
    max-width: 48%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.quick-list-img {
    overflow: hidden;
    border-radius: 8px;
}

.quick-list-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-04);

}

.quick-list-img:hover img {
    transform: scale(120%);

}

.quick-list-info {
    width: 50%;
    padding-left: 50px;
}

.quick-list-title {
    font-size: 32px;
    color: var(--dark-three);
}

.quick-list-description {
    margin: 20px 0;
}

/* =========================
Quick list styles ends
========================= */

/* =========================
Feature styles start
========================= */

.features-section {
    padding: var(--padding-primary);
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: relative;
}

.feactures-right {
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
}


.feactures-left {
    width: 44%;
}

.feactures-right img {
    width: 100%;
}

/* .section-title {

} */
.features-section-title {
    margin: 0 0 18px 15px;
    font-size: 36px;
    line-height: 40px;
    position: relative;
    font-weight: 700;

}

.features-section-title::after {
    content: "";
    width: 4px;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    left: -15px;
    top: 0;
}

.features-text {
    font-size: 14px;
    margin: 0px 0;
}

.feature-title {
    margin-bottom: 10px;
    /* color: var(--primary-color); */
}

.features-info {
    padding: 15px;
    box-shadow: 0 0 5px 2px rgba(198, 198, 198, 0.213);
    border-radius: 10px;
    margin: 15px 0;
    background-color: var(--primary-color-light);
}

.feature-card {
    position: absolute;
    padding: 30px 40px;
    background-color: var(--primary-color);
    top: 80%;
    left: 48%;
    text-align: center;
    color: var(--white);
    border-radius: 10px;
}

.feature-card h3 {
    font-size: 30px;
    line-height: 40px;

}

/* =========================
Feature styles ends
========================= */