/* Universal style */
*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}

:root{
    --primary-color: #FF900E;
    --primary-color-opacity: rgba(255, 144, 14, 0.1);
    --dark-one: #131313
    --dark-two: #424242;
    --dark-three: #727272;
    --black: #000;
    --white: #fff;
    --primary-font: 'Work Sans', sans-serif;

    /*  */
    --primary-padding : 50px 240px 30px;
}

body {
    font-family: var(--primary-font);
}


/* ==============
Header section style start
=============== */
.header {
    padding: var(--primary-padding);
    background-color: var(--primary-color-transparent);
}

/* naviagtion bar style*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav .logo {
    color: var(--dark-01);
    font-size: 35px;
    /* line-height: 52px; */
}
.nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav> ul li a{
    text-decoration: none;
    color: var(--dark-02);
}

/* header content style */
.header-content {
    text-align: center;
    margin-top: 80px;
}

.header-title {
    font-size: 48px;
    line-height: 55px;
}

.header-description {
    margin: 40px 0 30px;
    padding: 0 50px;
}

.banner-img img {
    width: 100%;
    margin-top: 30px;
}
